body,
html{
    height: 100%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

.sidebar{
    background-color: rgb(49, 125, 238);
    grid-column: 1 / 2;
    grid-row: 1/ 2;
    display: grid;
    gap: 20px;

}
.sidebar div{
    display: flex;
    gap: 20px;
    text-align: center;
}
.header{
    grid-column: 2 / 3;
    display: grid;
    height: fit-content;
    grid-template-columns: 5fr 3fr;
}

.header input{
    border-radius: 20px;
    width: 500px;
}
.search{

}
.info{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.nav{
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.picturesUps{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.profs{
    display: grid;
    grid-template-columns: 1fr 2fr;
    ;
}
.picturesUps button{
    height: fit-content;
    border-radius: 20px;
}
.projects{
    grid-column: 2 / 3;

}
.anouncements{
    grid-column: 2 / 3;
}
.trending{
    grid-column: 2/ 3;
}
img{
    width: 180px;
}